{% extends 'autoservisas/base.html' %}
{% load i18n %}
{% block content %}

    <div class="container mx-auto mt-5" style="width:400px;">
        <h1>{% trans 'Register' %}</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="form-group">
                <label for="username">{% trans 'Username' %}</label>
                <input type="text" class="form-control" name="username" id="username">
                <small class="form-text bg-danger text-white">{{ form.username.errors }}</small>
            </div>
            <div class="form-group mb-0">
                <label for="email">{% trans 'Email' %}</label>
                <input type="text" class="form-control" name="email" id="email">
                <small class="form-text bg-danger text-white">{{ form.email.errors }}</small>
            </div>
            <div class="form-group mb-0">
                <label for="password1">{% trans 'Password' %}</label>
                <input type="password1" class="form-control" name="password1" id="password1">
                <small class="form-text bg-danger text-white">{{ form.password1.errors }}</small>
            </div>
            <div class="form-group mb-0">
                <label for="password2">{% trans 'Confirm password' %}</label>
                <input type="password2" class="form-control" name="password2" id="password2">
                <small class="form-text bg-danger text-white">{{ form.password2.errors }}</small>
                <small class="form-text text-muted">{% trans 'Already registered' %}? <a href="{% url 'login' %}">{% trans 'Login' %}</a>.</small>
            </div>
            <input type="submit" class="btn btn-success mt-0 float-right" value="{% trans 'Register' %}">
        </form>
    </div>
{% endblock content %}
