{% extends 'autoservisas/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans 'All Orders'%}</h2>
{% for line in orders.order_lines.all%}
AAAAA
{% endfor %}
{% if orders %}
    {% for order in orders %}
        <ul class="list-group mb-4"> 
            <li class="list-group-item"><a href="{%url 'autoservisas:order-detail' order.id%}">{%trans 'ID' %}: {{order.id}}</a></li>
            <li class="list-group-item">{%trans 'Services' %}: {%if order.order_lines %} {% for line in order.order_lines.all %} {{ line.service.name }},{% endfor %}{%endif%}</li> 
            <li class="list-group-item">{%trans 'Total Price' %}: {{ order.total }}$ </li>   
        </ul>
    {% endfor %}
{% endif %}
    <nav aria-label="...">
        {% if page_obj.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>


{% endblock content %}
