{% extends 'autoservisas/base.html' %}
{% load i18n static %}

{% block content %}
<section>
    <h2>{% trans 'All Cars'%}</h2>
    {% if cars %}
        <ul class="list-group">
            {% for car in cars %}
            <li class="list-group-item"> {{car.id}} : <a href="{% url 'autoservisas:car-detail' car.id %}">{{ car.car_model.brand }} {{car.car_model.model}} {{ car.license_plate }}</a></li>
            <img class="img-fluid" src="{% if car.image %}{{ car.image.url }}{% else %}{% static 'autoservisas/img/default.png' %}{% endif %}" alt="Image of a car">
            {% endfor %}
        </ul>
    {% endif %}
    {#paginator#}
    <nav aria-label="...">
        {% if cars.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in cars.paginator.page_range %}
                    {% if cars.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
    {#end paginator#}
</section>
{% endblock content %}
