{% extends 'autoservisas/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Order'%}#: {{order.id}}</h2>
        <ul class="list-group mb-4"> 
            <li class="list-group-item">{%trans 'Client' %}: {{order.car.client}}</li>
            <li class="list-group-item">{%trans 'Car' %}: {{order.car.license_plate}} {{order.car.car_model}}</li>
            <h3>{% trans 'Services' %}</h3>
            {% for service in order.service.all %}
                <li class="list-group-item">{{ service.id }}: {{ service.name }} - {{service.price}}$,</li>
            {% endfor %}
            <li class="list-group-item">{%trans 'Total Price' %}: {{ order.total }}$ </li>          
        </ul>
{% endblock content %}
