{% extends 'autoservisas/base.html' %}
{% load i18n %}
{% block content %}
<div class="container mx-auto mt-5" style="width:400px;" >
    <h1>{% trans 'Enter new Password' %}</h1>
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_new_password1">{% trans 'New Password' %}</label>
                <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                <small class="form-text text-muted">{% trans 'Your password must containt at least 8 characters' %}</small>
            </div>
            <div class="form-group">
                <label for="id_new_password2">{% trans 'Confirm Password' %}</label>
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </div>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    {% else %}
        <div class="bg-danger text-white my-2 p-2">{% trans 'Password change link has expired.' %}</div>
    {% endif %}
</div>
{% endblock content %}
